---
layout: page-fullwidth
title: "Rückblick aufs Utopival 2017"
permalink: "/2017/rueckblick/"
header:
  image_fullwidth: 2017/rueckblick.jpg
  title: ''
---
{% gallery rueckblick2017 %}


<h2>Das Vorbereitungsteam</h2>
{% assign team = site.data.teams.2017 %}
<ul class="team">
  {% for m in team %}
    <li>
      <div class="picture" style="background-image:url('{{site.urlimg}}/menschen/{{m.image}}')"></div>
      <div class="name">{{ m.name }}</div>
    </li>
  {% endfor %}
</ul>

<h2>Berichte / Gedichte</h2>
<ul>
  {% for site in site.pages %}
    {% if site.type == 'bericht' and site.jahr == 2017  %}
      <li><a href="{{ site.permalink }}">{{ site.title }} | {{ site.subheadline }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<p>Schick uns doch gern deine Erfahrungen! :) <a href="mailto:kontakt@utopival.org">kontakt@utopival.org</a></p>
