---
layout: page-fullwidth
title: "Rückblick aufs Utopival 2015"
permalink: "/2015/rueckblick/"
header:
  image_fullwidth: "header-rueckblick2016.jpg"
---



{% gallery rueckblick2015 %}


<h2>Berichte</h2>
<ul>
  {% for site in site.pages %}
    {% if site.type == 'bericht' and site.jahr == 2015  %}
      <li><a href="{{ site.permalink }}">{{ site.title }} | {{ site.subheadline }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Presse</h2>
<ul>
  {% for p in site.data.presse %}
    {% assign year = p.date | date: "%Y" %}
    {% if p.link and year == "2015"  %}
      <li><a href="{{ p.link }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
